
* Installation
#==============================
Install Requirements
40 GB of disk space
Python 3.6

* Python Package Dependencies
#==============================
spacy==2.2.4
scikit-learn==0.21.3
fasttext
flashtext
glibc
lightgbm
spacy-transformers==0.5.0
unidecode
BeautifulSoup4
lxml
python-dateutil

* Flask
#==============================
pip3 install flask
pip3 install flask-restful



